@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  max-width: 100vw;
  min-height: 100vh;
}

.advert {
  height: 4rem;
}

.navbar {
  position: fixed;
  top: 0;
  min-width: 100vw;
  background-color: transparent;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: 5;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 767px) {
  .nextUpdate {
    display: none;
  }
  .sticky {
    -webkit-transition: all 1s ease-in forwards;
    transition: all 1s ease-in forwards;
    background-color: #673ab7;
  }
  body {
    background-color: #5e35b1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%236a42b7' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23754fbc' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23805bc2' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%238b68c7' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%239575cd' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%239b7dd0' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23a185d3' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23a78dd5' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23ad95d8' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23b39ddb' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }
  .navbar {
    height: 4rem;
  }
  .convertInfo {
    display: none;
  }
  select {
    width: 90%;
    height: 2.75rem;
    background: transparent;
    color: #fff;
    border: none;
    padding: 5px;
    font-size: 1rem;
    outline: none;
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }
  select::-ms-expand {
    display: none;
  }
  .fromCountries, .toCountries {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
  }
  .navContent {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    max-width: 100vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px;
  }
  .burger {
    z-index: 2;
    height: 2rem;
    width: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .burger i {
    font-size: 1.7rem;
    color: #fff;
  }
  .burger .menuOpen {
    display: block;
    -webkit-animation: iconIn .5s ease-in forwards;
            animation: iconIn .5s ease-in forwards;
  }
  .burger .menuClose {
    display: none;
    -webkit-animation: iconOut .5s ease-in forwards;
            animation: iconOut .5s ease-in forwards;
  }
  @-webkit-keyframes iconIn {
    from {
      display: none;
    }
    to {
      display: block;
    }
  }
  @keyframes iconIn {
    from {
      display: none;
    }
    to {
      display: block;
    }
  }
  @-webkit-keyframes iconOut {
    from {
      display: block;
    }
    to {
      display: none;
    }
  }
  @keyframes iconOut {
    from {
      display: block;
    }
    to {
      display: none;
    }
  }
  .mainLi {
    display: none;
    position: fixed;
    top: 0vh;
    left: -50vw;
    height: 100vh;
    width: 100%;
    background-color: #7e57c2;
    opacity: 0;
  }
  .mainLi .link {
    margin: 4rem 0 5rem -2rem;
    height: 80%;
    overflow-y: auto;
  }
  .mainLi li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2rem 0 2rem 0;
  }
  .mainLi a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }
  @-webkit-keyframes navFadeIn {
    to {
      opacity: 1;
      top: 0;
      left: 0;
    }
  }
  @keyframes navFadeIn {
    to {
      opacity: 1;
      top: 0;
      left: 0;
    }
  }
  @-webkit-keyframes navFadeOut {
    from {
      opacity: 1;
      top: 0;
      left: 0;
    }
    to {
      opacity: 0;
      top: 0;
      left: 50vw;
    }
  }
  @keyframes navFadeOut {
    from {
      opacity: 1;
      top: 0;
      left: 0;
    }
    to {
      opacity: 0;
      top: 0;
      left: 50vw;
    }
  }
  .headerImg a {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-self: start;
    z-index: 2;
    color: #fff;
    text-decoration: none;
  }
  .headerImg {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: bold;
  }
  .headerImg p {
    margin-top: 2.5rem;
    font-size: 1rem;
  }
  .headerImg i {
    font-size: 2.5rem;
  }
  .container {
    height: 100%;
    min-width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: .5rem 0 .5rem 0;
  }
  .container .pageLead {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 85.5%;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    text-align: center;
  }
  .container .pageLead h2 {
    font-size: 1.5rem;
    color: #fff;
  }
  .container .pageLead p {
    margin-top: -1rem;
    font-size: .9rem;
    color: #adabab;
  }
  .container .convert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    width: 75%;
    margin-top: .5rem;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 10px 6px -6px black;
            box-shadow: 0 10px 6px -6px black;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  .container .convert .fromCurrency {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .convert .fromCurrency .from {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
  }
  .container .convert .fromCurrency .from label {
    color: #dfdfdf;
    font-size: 1.15rem;
    margin-bottom: .5rem;
  }
  .container .convert .fromCurrency .from .numericValue {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 2.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .container .convert .fromCurrency .from .numericValue .symbol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #d6d6d6;
    border: 1px solid #d6d6d6;
    color: #000;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: none;
    border-top-right-radius: none;
    height: 2rem;
    width: 13%;
    font-size: 1.25rem;
    padding: 4px 1px;
  }
  .container .convert .fromCurrency .from .numericValue input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 87%;
    font-size: 1.25rem;
    outline: none;
    border: 1px solid #dfdfdf;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #dfdfdf;
    background-color: transparent;
    height: 1.85rem;
    padding: 5px;
  }
  .container .convert .fromCurrency .from .numericValue input #amount {
    padding: 10px;
  }
  .container .convert .fromCurrency .fromFlag {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    color: #fff;
  }
  .container .convert .fromCurrency .fromFlag label {
    color: #dfdfdf;
    font-size: 1.15rem;
    margin-bottom: .5rem;
  }
  .container .convert .fromCurrency .fromFlag .countryIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 10%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .convert hr {
    width: 100%;
    margin: 1.75rem 0 1rem 0;
  }
  .container .convert .toCurrency {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: .5rem;
  }
  .container .convert .toCurrency .toFlag {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    color: #fff;
  }
  .container .convert .toCurrency .toFlag label {
    color: #dfdfdf;
    font-size: 1.15rem;
    margin-bottom: .5rem;
  }
  .container .convert .toCurrency .toFlag i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 10%;
  }
  .container .convert button {
    width: 100%;
    height: 2.75rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1.25rem;
    background-color: #9378c4;
    color: #fff;
    font-size: 1.15rem;
  }
  .container .convert .converted {
    position: relative;
    max-width: 100%;
    top: -1rem;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    -webkit-transition: opacity 0.5s ease-in forwards;
    transition: opacity 0.5s ease-in forwards;
  }
  .container .convert .converted .equals {
    font-size: 1.15rem;
    color: #d1d0d0;
    max-width: 100%;
    overflow: auto;
    white-space: initial;
    line-height: normal;
  }
  .container .convert .converted h4 {
    max-width: 100%;
    margin: -1rem 0 -1rem 0;
    font-size: 2rem;
    color: #ebe8e8;
    overflow: auto;
    white-space: initial;
    line-height: normal;
  }
  .container .convert .converted .rate-div {
    color: #b9b9b9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 100%;
  }
  .container .convert .converted .rate-div .rate {
    font-size: 1.15rem;
    font-weight: 100;
    margin-bottom: -1rem;
  }
  .container .convert .converted .rate-div .rate-p-2 {
    margin-top: -1rem;
    max-width: 100%;
    overflow: auto;
    white-space: initial;
    line-height: normal;
  }
  @-webkit-keyframes fadeDown {
    to {
      opacity: 1;
      top: 0;
    }
  }
  @keyframes fadeDown {
    to {
      opacity: 1;
      top: 0;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .fromCountries, .toCountries {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    border: 0.5px solid #dfdfdf;
    border-radius: 3px;
  }
  .sticky {
    -webkit-transition: all 1s ease-in forwards;
    transition: all 1s ease-in forwards;
    background-color: #5e35b1;
  }
  body {
    background-color: #b39ddb;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23ad95d8' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23a78dd5' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23a185d3' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%239b7dd0' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%239575cd' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%238b68c7' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23805bc2' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23754fbc' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%236a42b7' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%235e35b1' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }
  .navContent {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    max-width: 100vw;
    padding: 0 20px;
  }
  .navbar {
    height: 5rem;
  }
  .navbar li {
    display: inline-block;
    margin: 0 1rem;
    text-align: center;
  }
  .mainLi {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.15rem;
  }
  .mainLi .active {
    border-bottom: 2px solid #fff;
  }
  .mainLi a {
    font-size: bold;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
  }
  .mainLi a:hover {
    border-bottom: 1px solid #fff;
  }
  .headerImg a {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    z-index: 2;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  .headerImg a p {
    margin-top: 3rem;
    font-size: 1.25rem;
  }
  .headerImg a i {
    font-size: 3.25rem;
  }
  .burger {
    display: none;
  }
  select {
    width: 100%;
    height: 2.5rem;
    background: transparent;
    color: #fff;
    border: none;
    padding: 5px;
    font-size: 1rem;
    outline: none;
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }
  select::-ms-expand {
    display: none;
  }
  .container {
    position: relative;
    top: 0;
    left: -40%;
    -webkit-transform: translate(50%, 0%);
            transform: translate(50%, 0%);
    height: 100%;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 7px;
  }
  .container .convertInfo {
    overflow: auto;
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
    white-space: initial;
    line-height: normal;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-animation: convertInfoAnim .5s ease-in forwards;
            animation: convertInfoAnim .5s ease-in forwards;
  }
  @-webkit-keyframes convertInfoAnim {
    to {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes convertInfoAnim {
    to {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  .container .convertInfo h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    color: #d8d8d8;
    font-size: 1.15rem;
  }
  .container .pageLead {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    margin-bottom: 2rem;
  }
  .container .pageLead h2 {
    font-size: 2.5rem;
    margin-bottom: -1rem;
    color: #ffffff;
  }
  .container .pageLead p {
    font-size: 1.05rem;
    color: #e2e1e1;
  }
  .container .convert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    -webkit-box-shadow: 0 10px 10px -6px black;
            box-shadow: 0 10px 10px -6px black;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  .container .convert .forDesktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%;
    width: 100%;
    margin-top: 1rem;
  }
  .container .convert .forDesktop .fromCurrency {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 200%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .container .convert .forDesktop .fromCurrency .from {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 1rem;
  }
  .container .convert .forDesktop .fromCurrency .from label {
    color: #dfdfdf;
    font-size: 1.15rem;
    margin-bottom: .5rem;
  }
  .container .convert .forDesktop .fromCurrency .from .numericValue {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 2.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    border-radius: 3px;
  }
  .container .convert .forDesktop .fromCurrency .from .numericValue .symbol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #d6d6d6;
    border: 1px solid #d6d6d6;
    color: #000;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: none;
    border-top-right-radius: none;
    height: 2rem;
    width: 13%;
    font-size: 1.25rem;
    padding: 4px 1px;
  }
  .container .convert .forDesktop .fromCurrency .from .numericValue input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 87%;
    font-size: 1.25rem;
    outline: none;
    border: 1px solid #dfdfdf;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #dfdfdf;
    background-color: transparent;
    height: 1.85rem;
    padding: 5px;
  }
  .container .convert .forDesktop .fromCurrency .from .numericValue input #amount {
    padding: 10px;
  }
  .container .convert .forDesktop .fromCurrency .fromFlag {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
  }
  .container .convert .forDesktop .fromCurrency .fromFlag label {
    color: #dfdfdf;
    font-size: 1.15rem;
    margin-bottom: .5rem;
  }
  .container .convert .forDesktop .fromCurrency .fromFlag .countryIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 20%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .convert .forDesktop hr {
    display: none;
  }
  .container .convert .forDesktop .toCurrency {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-left: 1rem;
  }
  .container .convert .forDesktop .toCurrency .toFlag {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .convert .forDesktop .toCurrency .toFlag label {
    color: #dfdfdf;
    font-size: 1.15rem;
    margin-bottom: .5rem;
  }
  .container .convert .forDesktop .toCurrency .toFlag .countryIcon {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 20%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .convert button {
    cursor: pointer;
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 15%;
    height: 2.75rem;
    margin: 1.5rem 0 1rem 0;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1.25rem;
    background-color: #9378c4;
    color: #fff;
    font-size: 1.15rem;
  }
  .container .convert .converted {
    position: relative;
    max-width: 100%;
    top: -1rem;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
    width: 100%;
    -webkit-transition: opacity 0.5s ease-in forwards;
    transition: opacity 0.5s ease-in forwards;
  }
  .container .convert .converted .amountConverted {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
  }
  .container .convert .converted .amountConverted .equals {
    font-size: 1.15rem;
    color: #d1d0d0;
    max-width: 100%;
    overflow: auto;
    white-space: initial;
    line-height: normal;
  }
  .container .convert .converted .amountConverted h4 {
    max-width: 100%;
    margin: -1rem 0 -.25rem 0;
    font-size: 2rem;
    color: #ebe8e8;
    overflow: auto;
    white-space: initial;
    line-height: normal;
  }
  .container .convert .converted .amountConverted .nextUpdate {
    font-size: .75rem;
    color: #b9b9b9;
  }
  .container .convert .converted .rate-div {
    color: #b9b9b9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 50%;
  }
  .container .convert .converted .rate-div .rate {
    font-size: 1.15rem;
    font-weight: 100;
    margin-bottom: -1rem;
  }
  .container .convert .converted .rate-div .rate-p-2 {
    margin-top: -1rem;
    max-width: 100%;
    overflow: auto;
    white-space: initial;
    line-height: normal;
  }
  @-webkit-keyframes fadeDown {
    to {
      opacity: 1;
      top: 0;
    }
  }
  @keyframes fadeDown {
    to {
      opacity: 1;
      top: 0;
    }
  }
}

@media (min-width: 1025px) {
  .fromCountries, .toCountries {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    border: 0.5px solid #dfdfdf;
    border-radius: 3px;
  }
  .sticky {
    -webkit-transition: all 1s ease-in forwards;
    transition: all 1s ease-in forwards;
    background-color: #5e35b1;
  }
  body {
    background-color: #b39ddb;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23ad95d8' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23a78dd5' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23a185d3' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%239b7dd0' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%239575cd' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%238b68c7' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23805bc2' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23754fbc' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%236a42b7' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%235e35b1' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }
  .navContent {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    max-width: 100vw;
    padding: 0 20px;
  }
  .navbar {
    height: 5rem;
  }
  .navbar li {
    display: inline-block;
    margin: 0 1rem;
    text-align: center;
  }
  .mainLi {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.15rem;
  }
  .mainLi .active {
    border-bottom: 2px solid #fff;
  }
  .mainLi a {
    font-size: bold;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
  }
  .mainLi a:hover {
    border-bottom: 1px solid #fff;
  }
  .headerImg a {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    z-index: 2;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  .headerImg a p {
    margin-top: 3rem;
    font-size: 1.25rem;
  }
  .headerImg a i {
    font-size: 3.25rem;
  }
  .burger {
    display: none;
  }
  select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 2.5rem;
    background: transparent;
    color: #fff;
    border: none;
    padding: 5px;
    font-size: 1rem;
    outline: none;
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }
  select::-ms-expand {
    display: none;
  }
  .container {
    position: relative;
    top: 0;
    left: -40%;
    -webkit-transform: translate(50%, 0%);
            transform: translate(50%, 0%);
    height: 100%;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 7px;
  }
  .container .convertInfo {
    overflow: auto;
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
    white-space: initial;
    line-height: normal;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-animation: convertInfoAnim .5s ease-in forwards;
            animation: convertInfoAnim .5s ease-in forwards;
  }
  @-webkit-keyframes convertInfoAnim {
    to {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes convertInfoAnim {
    to {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  .container .convertInfo h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    color: #d8d8d8;
    font-size: 1.15rem;
  }
  .container .pageLead {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    margin-bottom: 2rem;
  }
  .container .pageLead h2 {
    font-size: 2.5rem;
    margin-bottom: -1rem;
    color: #ffffff;
  }
  .container .pageLead p {
    font-size: 1.05rem;
    color: #e2e1e1;
  }
  .container .convert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    width: 70%;
    -webkit-box-shadow: 0 10px 10px -6px black;
            box-shadow: 0 10px 10px -6px black;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  .container .convert .forDesktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%;
    width: 100%;
    margin-top: 1rem;
  }
  .container .convert .forDesktop .fromCurrency {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 200%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .container .convert .forDesktop .fromCurrency .from {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 1rem;
  }
  .container .convert .forDesktop .fromCurrency .from label {
    color: #dfdfdf;
    font-size: 1.15rem;
    margin-bottom: .5rem;
  }
  .container .convert .forDesktop .fromCurrency .from .numericValue {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 2.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    border-radius: 3px;
  }
  .container .convert .forDesktop .fromCurrency .from .numericValue .symbol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #d6d6d6;
    border: 1px solid #d6d6d6;
    color: #000;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: none;
    border-top-right-radius: none;
    height: 2rem;
    width: 13%;
    font-size: 1.25rem;
    padding: 4px 1px;
  }
  .container .convert .forDesktop .fromCurrency .from .numericValue input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 87%;
    font-size: 1.25rem;
    outline: none;
    border: 1px solid #dfdfdf;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #dfdfdf;
    background-color: transparent;
    height: 1.85rem;
    padding: 5px;
  }
  .container .convert .forDesktop .fromCurrency .from .numericValue input #amount {
    padding: 10px;
  }
  .container .convert .forDesktop .fromCurrency .fromFlag {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
  }
  .container .convert .forDesktop .fromCurrency .fromFlag label {
    color: #dfdfdf;
    font-size: 1.15rem;
    margin-bottom: .5rem;
  }
  .container .convert .forDesktop .fromCurrency .fromFlag .countryIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 20%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .convert .forDesktop hr {
    display: none;
  }
  .container .convert .forDesktop .toCurrency {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-left: 1rem;
  }
  .container .convert .forDesktop .toCurrency .toFlag {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .convert .forDesktop .toCurrency .toFlag label {
    color: #dfdfdf;
    font-size: 1.15rem;
    margin-bottom: .5rem;
  }
  .container .convert .forDesktop .toCurrency .toFlag .countryIcon {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 20%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .convert button {
    cursor: pointer;
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 10rem;
    height: 2.75rem;
    margin: 1.5rem 0 1rem 0;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1.25rem;
    background-color: #9378c4;
    color: #fff;
    font-size: 1.25rem;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .container .convert button:hover {
    background: #7e57c2;
  }
  .container .convert .converted {
    position: relative;
    max-width: 100%;
    top: -1rem;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
    width: 100%;
    -webkit-transition: opacity 0.5s ease-in forwards;
    transition: opacity 0.5s ease-in forwards;
  }
  .container .convert .converted .amountConverted {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
  }
  .container .convert .converted .amountConverted .equals {
    font-size: 1.15rem;
    color: #d1d0d0;
    max-width: 100%;
    overflow: auto;
    white-space: initial;
    line-height: normal;
  }
  .container .convert .converted .amountConverted h4 {
    max-width: 100%;
    margin: -1rem 0 -.25rem 0;
    font-size: 2rem;
    color: #ebe8e8;
    overflow: auto;
    white-space: initial;
    line-height: normal;
  }
  .container .convert .converted .amountConverted .nextUpdate {
    font-size: .75rem;
    color: #b9b9b9;
  }
  .container .convert .converted .rate-div {
    color: #b9b9b9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 50%;
  }
  .container .convert .converted .rate-div .rate {
    font-size: 1.15rem;
    font-weight: 100;
    margin-bottom: -1rem;
  }
  .container .convert .converted .rate-div .rate-p-2 {
    margin-top: -1rem;
    max-width: 100%;
    overflow: auto;
    white-space: initial;
    line-height: normal;
  }
  @-webkit-keyframes fadeDown {
    to {
      opacity: 1;
      top: 0;
    }
  }
  @keyframes fadeDown {
    to {
      opacity: 1;
      top: 0;
    }
  }
}
/*# sourceMappingURL=styles.css.map */